{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Новости | Главная</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/basic_style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header_inner">
			<div class="logo">
				<p>Топ</p>
			</div>
			<nav>
				<ul>
					<li><a href="" class="nav_link">риа</a></li>
					<li><a href="" class="nav_link">лента</a></li>
					<li><a href="" class="nav_link">рбк</a></li>
					<li><a href="" class="nav_link">газета</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
</body>
</html>