{% extends 'main/basic.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/index_style.css' %}">
{% endblock styles %}

{% block content %}
	<h2 class="container_title">Самые популярные новостные сайты</h2>
	<div class="container_inner">
		<div class="block">
			<h2>риа</h2>
			<div class="links">
				{% if ria_news %}
					{% for ria_new in ria_news %}
					<span><a href="">{{ ria_new.content }}</a></span>
					{% endfor %}
				{% else %}
					<span><a href="">Новостей пока что нет...</a></span>
				{% endif %}
			</div>
		</div>
		<div class="block">
			<h2>лента</h2>
			<div class="links">
				{% if lenta_news %}
					{% for lenta_new in lenta_news %}
					<span><a href="">{{ lenta_new.content }}</a></span>
					{% endfor %}
				{% else %}
					<span><a href="">Новостей пока что нет...</a></span>
				{% endif %}
			</div>
		</div>
		<div class="block">
			<h2>рбк</h2>
			<div class="links">
				{% if rbc_news %}
					{% for rbc_new in rbc_news %}
					<span><a href="">{{ rbc_new.content }}</a></span>
					{% endfor %}
				{% else %}
					<span><a href="">Новостей пока что нет...</a></span>
				{% endif %}
			</div>
		</div>
		<div class="block">
			<h2>газета</h2>
			<div class="links">
				{% if gazeta_news %}
					{% for gazeta_new in gazeta_news %}
					<span><a href="">{{ gazeta_new.content }}</a></span>
					{% endfor %}
				{% else %}
					<span><a href="">Новостей пока что нет...</a></span>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}